 
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    
    padding-bottom: 80px;
}

.topnav {
    background-color: white;
    padding:20px;
    padding-left:100px;
    text-align: left;
    margin-left: 270px;
    color:#30425A;
    box-shadow: 0px -7px 24px rgba(0, 0, 0, 0.25);
}

.nst{
    background:white;
    margin-top:-50px;
    color: #30425A;
    
    background-color: white;
    padding:35px;
   
    text-align: left;
  margin-left: -109px;
  padding-top: 45px;
  padding-left:90px;
    color: #30425A;
    max-width: 1700px;
    position: relative;
    margin-bottom:40px;
    box-shadow:0px -7px 24px rgba(0, 0, 0, 0.25);
    

    

}

hr{margin-right:300px;}
/*
ul{
    list-style: none;
    margin:0px;
    padding:20px;
    font-size: 20px;
    line-height: 35px;
    
  
}
*{
    text-decoration: none;
}

.sidebar{
    
    background:#DDDDFF;
    height:100vh;
    position:fixed;
    width: 300px;
    height: 100%;
    padding: 20px 0;
    margin: 0px;
    transition: all 0.5s ease;
    
    
}
*/
/*

.subtitle{ padding-left: 20px;
    padding-top: 20px;
    margin-top: 70px;

}


 ul li:hover a{
     background: #B9B9FF;
     display:block;
     padding-left: 5px;
     width:100%;
     color:white;
 }
 
  
 

  
 ul li active{
     color:white;
    background:#B9B9FF ;
    display:block;
    padding-left: 5px;
    width:100%;
}

.menu ul li a{padding: 12px;
    text-decoration: none;
    color: black; 
    display: block; }
    
    
          
*/

section{
    margin-left:25%;
    padding-top:30px;
  
    
}
/*
section #home{
    background
    height: 100vh;
    box-sizing:border-box;
     display: block;
    padding:0px;
}
    */ 

table{ 
    border-collapse: collapse;
    width:100%;
   
}
 td{
     padding:20px 30px;
     
 }
 th{
     padding:20px;
     padding-left: 25px;
 text-align: left;
    }
  tr:nth-child(odd){
      background-color: #F5F5F5;
  }
  th{
      background-color: #E5E5E5;
  }
  .detail{
      background: #F5F8FF;
      
  }
  .para2{
      margin-left:400px;
      margin-right:50px;
     
      
  }
  .para2 p{
      padding-top: 20px;
  }
  .para2 h2{
      padding-bottom: 15px;
      padding-top:15px;
      font-size: 30px;
  }
  .logo{background: white;
       border-radius:120px;
        padding :30px;
        margin:30px;}
     body{
            background:#F5F8FF;
            ;
        }
        
        .newtable{
            width:90%;
            background: white;
            padding-top:20px;
            position:relative;
            top:10;
            margin: 0;
          
            display: block;
         
            
           
          
        }
        table{
            width:95%;
        }
        .center{
            text-align: center;
        }
        .pagination {
            display: inline-block;
            padding-top: 30px;
            
            
          }
          .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd;
          }
          
         
          
          
          .pagination a:hover:not(.active) {background-color: #ddd;}
          
          .pagination a:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          
          .pagination a:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          .sidebar{
            background:#DDDDFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 275px;
            height: 100%;
            padding: 20px 0;
            transition: all 0.5s ease;
          }
          

          
          *{
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
        }
        .sidebar ul li a{
            display: block;
            padding: 13px 30px;
      
           
            font-size: 16px;
            position: relative;
        }
       
        .sidebar ul li a:hover,
         .sidebar ul li .active{
            color:white;
        
            background:#B9B9FF;
          
        }
      

        .sidebar ul li a:hover:before,
 .sidebar ul li a.active:before{
    display: block;
}
.smpara{
    font-size: 15px;
}
.para2 hr{
    background:#C4CDD59ES;
    
}
.newtable h2{
    padding-bottom: 15px;
}